// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
/* ======================================================
   GLOBAL THEME VARIABLES
   Light Theme (Default)
   ====================================================== */

:root {

    --ion-color-primary: #2567E8;
    --ion-color-primary-rgb: 37, 103, 232;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #215bcc;
    --ion-color-primary-tint: #3b76ea;

    --ion-color-secondary: #6C63FF;
    --ion-color-secondary-rgb: 108, 99, 255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #5f57e0;
    --ion-color-secondary-tint: #7b73ff;

    --ion-color-tertiary: #FF6B6B;
    --ion-color-tertiary-rgb: 255, 107, 107;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e05e5e;
    --ion-color-tertiary-tint: #ff7a7a;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;


    --ion-white-color-background: #FFFFFF;
    --ion-white-color-background-text: #000000;
    --ion-black-color-background: #000000;
    --ion-black-color-background-text: #FFFFFF;
    --ion-white-color-text: #FFFFFF;
    --ion-black-color-text: #000000;

     /* App background */
    --ion-background-color: #FFFFFF;

    /* Text color */
    --ion-text-color: #000000;

    /* Item / Card / List backgrounds */
    --ion-item-background: #FFFFFF;
    --ion-card-background: #FFFFFF;

    /* Toolbar / Header / Footer */
    --ion-toolbar-background: #FFFFFF;
    --ion-tab-bar-background: #FFFFFF;
}


/* ======================================================
   DARK THEME
   ====================================================== */

body.dark {

    --ion-color-primary: #2567E8;
    --ion-color-primary-rgb: 37, 103, 232;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #215bcc;
    --ion-color-primary-tint: #3b76ea;

    --ion-color-secondary: #6C63FF;
    --ion-color-secondary-rgb: 108, 99, 255;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #5f57e0;
    --ion-color-secondary-tint: #7b73ff;

    --ion-color-tertiary: #FF6B6B;
    --ion-color-tertiary-rgb: 255, 107, 107;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e05e5e;
    --ion-color-tertiary-tint: #ff7a7a;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;


    --ion-white-color-background: #FFFFFF;
    --ion-white-color-background-text: #000000;
    --ion-black-color-background: #000000;
    --ion-black-color-background-text: #FFFFFF;
    --ion-white-color-text: #FFFFFF;
    --ion-black-color-text: #000000;


    /* App background */
    --ion-background-color: #000000;

    /* Text color */
    --ion-text-color: #ffffff;

    /* Item / Card / List backgrounds */
    --ion-item-background: #121212;
    --ion-card-background: #121212;

    /* Toolbar / Header / Footer */
    --ion-toolbar-background: #121212;
    --ion-tab-bar-background: #121212;
}